<!DOCTYPE html>
<html>
<head>
	<title>Welcome to First AWS App Demo</title>
</head>
<center>
	<font color="black" size="4">

		<h1 style="color: DodgerBlue">Add Employee Details - Server 1</h1>

		<body bgcolor="lightgrey">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

		  		Enter Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		Enter FName:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" ><br><br>

		  		Enter LName:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

		  		Enter Primary Skills:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

		  		Enter Location:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

				  <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Register Employee Data</button>

			</form>
		</body>

	</font>
</center>
</html>
